

.circle {

  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: #6633ff;
  
  color: white;
  line-height: 50px;
  overflow: hidden;
}

.circle:hover {
  color: #fff;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background: #5c5eae;
  border-radius: 50%;
  box-shadow:  3px 4px 10px 1px rgba(0,0,0,0.75);
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle1 {
  opacity: 0.4;
}

.circle2 {
  opacity: 0.6;
}

.circle3 {
  opacity: 0.8;
}

.circle a {
  text-decoration: none;
  color: white;
}

.circle h2 {
  font-size: 40px;
}


.circle {
  font-size: 24px;
  line-height: 26px;
}